name: Playwright Tests with Allure

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install

      - name: Install Playwright browsers
        run: npx playwright install

      - name: Load environment variables
        run: echo "BASE_URL=https://demoqa.com" >> .env

      - name: Run Playwright tests
        run: npx playwright test --trace on

      - name: Install Allure
        run: npm install -g allure-commandline

      - name: Generate Allure Report
        run: allure generate allure-results --clean

      - name: Upload Allure Report
        uses: actions/upload-artifact@v3
        with:
          name: allure-report
          path: allure-report


